body {
    color: rgba(255, 60, 144);
    background-color: aliceblue;
    margin: 0%;
}

header {
    background-color: rgb(179, 179, 255);
    padding: 20px;
    margin: 0%;
}

h1 {
    margin: auto;
    line-height: 45px;
    text-align: center;
    font-size: 3rem;
}

h3 {
    font-size: x-large;
    margin: auto;
}

h6 {
    font-size: large;
    margin: auto;
}

footer {
    border-top: 2px solid #cfcfcf;
    line-height: 35px;
    text-align: center;
    background-color: #d2d5ff;
}


nav {
    text-align: center;
    margin-top: 15px;
}

nav a {
    color: rgba(255, 60, 144);
}

nav a:not(:last-child)::after {
    content: " | ";
    margin: 0 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.Generic-Container {
    width: 80vw;
    margin: 20px auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-figure figcaption {
    text-align: center;
    margin-top: 20px;
}

.intro-img {
    display: block;
    margin: 25px auto 0;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

#introduction {
    background-color: #c5cbff;
    border-radius: 15px;
    max-width: 60vw;
    padding: 50px;
}

#introduction ul,
li {
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.intro-heading {
    margin-top: 0px;
    line-height: 45px;
    text-align: center;
    font-size: 2.5rem;
}

#introduction p {
    padding: 0 200px;
    text-align: center;
    font-size: 1.2rem;
}

.about,
.contract {
    text-align: left;
    padding: 0px 20vw;
}

.stamp-img {
    display: block;
    margin: 5px auto;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    object-fit: cover;
}