h1,
p {
    color: black;
    margin: auto;
    line-height: 45px;
    text-align: center;
}

a {
    align-self: center;
    position: fixed;
    margin-left: 45vw;
    margin-top: 80vh;
    color: black;
}