<footer>
    <section>
        <nav>
            <a href="https://webpages.charlotte.edu/iaguila3/">CLT Web</a>
            <a href="https://github.com/iaguila3-oss">GitHub</a>
            <a href="https://iaguila3-oss.github.io">GitHub.io</a>
            <a href="https://www.freecodecamp.org/IvanAguilar1">freeCodeCamp</a>
            <a href="https://www.codecademy.com/profiles/IvanAguilar1">Codeacademy</a>
            <a href="https://www.linkedin.com/in/ivan-aguilar-195b922ba">LinkedIn</a>
        </nav>
    </section>
    <p>Page designed by <i>Ingenious Alligator Designs</i> &copy;2026</p>
    <p>Certified in Responsive Web Design</p>
    <img src="images/profile.jpg" alt="Ivan Aguilar Page stamp" class="stamp-img">
    <p><em>"Trying to do better everyday."</em></p>
</footer>