<header>
    <h1>Ivan Aguilar's Ingenious Alligator | ITIS3135</h1>

    <section>
        <nav>
            <a href="index.html">Home</a>
            <a href="contract.html">Contract</a>
            <a href="introduction.html">Introduction</a>
            <a href="about.html">About</a>
            <a href="survey.html">Survey</a>
            <a href="cards.html">Cards</a>
            <a href="inventory.html">Inventory</a>
            <a href="documentation.html">Documentation</a>
            <a href="website_evaluations.html">Website Evaluations</a>
            <a href="product.html">Products</a>
            <a href="pictures.html">Pictures</a>
            <a href="introduction_form.html">Introduction Form</a>
        </nav>
    </section>
    <section>
        <nav>
            <a href="stuff/crap.html">CRAPpy Page</a>
        </nav>
    </section>
</header>